body {
  margin: 0;
}

div {
  background-color: #E4F9F5;
}

h1 {
  margin: 0;
}

.top {
  height: 200px;
  width: 200px;
  border: 10px solid;
  padding: 20px;
}
.middle {
  height: 200px;
  width: 200px;
  background-color: red;
  border: 20px solid;
  margin-left: 260px;
}

.bottom {
  height: 200px;
  width: 200px;
  background-color: yellow;
  border: 10px solid;
  margin-left: 500px;
}
