body {
  margin: 0;
}

div {
  background-color: #E4F9F5;
}

h1 {
  margin: 0;
}

.middle {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom {
  height: 200px;
  width: 200px;
  background-color: blue;
}
