body {
  margin: 0;
  text-align: center;
}

.top {
  position: relative;
  background-color: #E4F9F5;
  padding-top: 100px;
}

h1 {
  width: 10%;
  margin: 0 auto;
}


.cloud-top {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.pro {
  text-decoration: underline;
}
